/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25-09-2022, 01:12:01
    Author     : jr972
*/





.log{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.btn{
    background-color: #05b4ca;
    border-color: #05b4ca;
}
.btn:hover{
    background-color: #4756b9 !important;
    border-color: #4756b9 !important;
}


.mostrarPass{
   color: #05b4ca !important;
}



.spanL{
    font-size: 1.5rem;
    padding: .5em .5em;
}

@media screen and (min-width : 992px){
    .navbar-brand img{
        width: 60px;
        height: 60x;
    }

    .spanL{
        font-size: 1.5rem;
        padding: .5em .5em;
    }
}




@media (max-width: 1199px){
    .h2{
        color: white !important;
    }

    .botones{
        background-color: #016fc8;
        border-color: #016fc8;
    }
    .botones:hover{
        background-color: #4756b9 !important;
        border-color: #4756b9 !important;

    }
}