/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28-10-2022, 20:18:00
    Author     : jr972
*/

body{
    background-image: url('../Img/blob-scene-haikei.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: serif !important;
}